@media screen and (max-width:900px) {
    .navbar-nav {
        padding: 0px;
    }

    .call h5 {
        visibility: hidden;
    }

    .call a {
        visibility: hidden;
    }

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        /* width: 200px !important; */
        /* height: 700px !important; */
        background: url(https://i.pinimg.com/736x/4a/b9/a8/4ab9a85d794a6b7363b234dc0aaced56.jpg);

    }

}

@media screen and (max-width:900px) {
    .nav-item .nav-link {
        /* transition: all 0.2s linear; */
        font-weight: 500;
        font-size: 25px;
        border-bottom: solid 2px #49cf75;
    }
}
@media screen and (max-width:650px){
    .hero-content h2 {
    padding-top: 5px !important;
    color: white;
    font-size: 24px !important;
    visibility: visible;
    width: 100%;
}
.hero-content p {
  
    visibility: hidden !important;
}
.home {
   

}
.img-t{
          padding: 4px;
        margin-bottom: 20px;
    }
    .header-text {
    padding-left: 3px !important;
    padding-bottom: 1px !important;
}
.card-try-2{
    top: 39% !important;

}
.card-try-1{
    top: 37% !important;
}.card-try-3{
        top: 44% !important;

}
.card-new {
    background-color: #fff;
  
    padding: 30px 13px !important;
}
.free-form .lnk-default {
    border: 2px solid transparent;
    position: relative;
    bottom: 0px !important;
}
.free-form .lnk-default {
    border: 0;
    margin-left: 0px !important;
}
.consult-text {
    margin-top: 0px !important;
    padding-right: 0px !important;
}
.footer-title{
    text-align: start !important;
}
.foote-satrt ul{
    padding-left: 0rem !important;
    padding-bottom: 5px;
}
.top-footer {
    padding: 25px 0 15px !important;
    border-bottom: 1px solid #a08341;
}
.free-form input{
    width: 300px !important;
}
.free-img img{
        position: relative;
    top: 0 !important;
    padding-left: 0px !important;
    /* height: fit-content; */
    /* height: 500px !important; */
    visibility: visible !important;
    width: 100% !important;

}


.free-form button {
    display: inline-block;
    height: 68px;
    line-height: 68px;
    padding: 0 !important;
    color: #fafafa;
    font-size: 16px;
    font-weight: 700;
    position: relative !important;
    z-index: 9;
    overflow: hidden;
    pointer-events: all;
    background-color: #261f19;
    /* display: flex
; */
}
.free-form button {
    border: 0 !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
        margin-bottom: 10px !important;

}
.free-form button {
    border: 2px solid transparent;
    position: relative;
    bottom: 0px !important;
}
.card-like{
    height: 329 ;
}
}