@media screen and (max-width:900px) {
    .navbar-nav {
        padding: 0px;
    }

    .call h5 {
        visibility: hidden;
    }

    .call a {
        visibility: hidden;
    }

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        /* width: 200px !important; */
        /* height: 700px !important; */
        background: url(https://i.pinimg.com/736x/4a/b9/a8/4ab9a85d794a6b7363b234dc0aaced56.jpg);

    }

}

@media screen and (max-width:900px) {
    .nav-item .nav-link {
        /* transition: all 0.2s linear; */
        font-weight: 500;
        font-size: 25px;
        border-bottom: solid 2px #49cf75;
    }
}
@media screen and (max-width:650px){
    .hero-content h2 {
    padding-top: 5px !important;
    color: white;
    font-size: 24px !important;
    visibility: visible;
    width: 100%;
}
.hero-content p {
  
    visibility: hidden !important;
}
.home {
   

}
.img-t{
          padding: 4px;
        margin-bottom: 20px;
    }
    .header-text {
    padding-left: 3px !important;
    padding-bottom: 1px !important;
}
.card-try-2{
    top: 42% !important;

}
.card-try-1{
    top: 40% !important;
}.card-try-3{
        top: 48% !important;

}
.card-new {
    background-color: #fff;
  
    padding: 30px 13px !important;
}
}