
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sen:wght@400..800&display=swap');


:root{

--primary-color: #49cf75;
--secondary-color: #162d20;
--light-background: #f3fdf7;
--light-color: #fff;
--text-color: #202020;
--light-color2: #f7f7f7;
--font-family:"Manrope", sans-serif;
    /* --bs-offcanvas-width: 200px !important; */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background: var(--light-color);
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl 
{
    width: 270px !important;
    /* height: 700px !important; */

}

.logo{
    width: 100px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: auto;
    display: inline-block;
    mix-blend-mode: color-burn;

}
a{
    text-decoration: none;
    color: inherit;
}
.navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
        padding: 0.1rem 0 !important;
        background: url(https://i.pinimg.com/736x/95/71/60/957160bbbe7cdbb097f165601db43532.jpg);
        /* background-color: var(--light-color); */
        /* background: url(https://i.pinimg.com/736x/33/ec/6d/33ec6d3f51805ce07b785ed3d550c858.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: cen;
        /* background: url(https://i.pinimg.com/736x/4a/b9/a8/4ab9a85d794a6b7363b234dc0aaced56.jpg); */

}
.nav-item{
    list-style: none;
    font-size: 16px;
}
.nav-item .nav-link{
    transition: all 0.2s linear;
    font-weight: 500;
}
.nav-item .nav-link:hover{
    color: #49cf75;
}
.nav-link:active{
    color: #49cf75 !important;

}
.navbar-nav{
    padding: 30px;
}
.header-content {
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
}

.header-button button{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    font-family: var(--font-family);
    border-radius: 20px;
        transition: all 0.3s linear;
        cursor: pointer;

}

.header-button button:hover{
    background-color: var(--secondary-color);
   

}
.call a{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
margin-left: 103px;
    padding-bottom: 2px;
    position: relative;
        color: #49cf75;
        font-family: var(--font-family);

}
.call h4 {
    color: #070c1f;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}
.call a{
    border-bottom: 1.5px solid #49cf75;
}
/* navbr section end  */

/* header section css start  */

/* home section css start  */
.home{
    min-height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* background: url(aman.jpeg) no-repeat;  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(image-new/Amanbg1.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    animation: change 10s infinite step-end;
    padding: 5rem 7%;
    /* text-align: start; */
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    padding-top: 125px;

}
@keyframes change {
    0%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(image-new/Amanbg1.jpeg);

    }
    20% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(image-new/Amanbg2.jpeg);
    }

    40% {
background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(image-new/free-photo-of-skyscrapers-illuminated-at-night.jpeg);
    }

}

@media screen and (max-width:500px){
    .home{
        /* text-align: center; */
        padding-top: 5.3rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        background-size: contain;
    }
}
.carousel-item img{
    height: 110vh;
}
.carousel-caption h5{
    align-items: center;
    text-align: center;
}
.aman{
    padding: 50px;
}
.header-text{
padding-left: 45px;
}
.about-text .sub-title {
    margin-bottom: 36px;
}

.sub-title{
    color: #070c1f;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    padding-left: 86px;
    margin-bottom: 61px;
    margin-top: -12px;
}
.header-text p{
    color: #515462;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 45px;
}
.header-text a{
    text-decoration: none;
        border-bottom: 1.5px solid #49cf75;
color: #49cf75;
}
.card-new{
    background-color: #fff;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 11px rgba(0,0,0,0.10);
    -ms-box-shadow: 0 0 11px rgba(0,0,0,0.10);
    -o-box-shadow: 0 0 11px rgba(0,0,0,0.10);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.10);
    padding: 50px 60px;
    margin: 40px 0;
}
.card-name {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: 20px;
}
					.user-info > h3 {
    color: #24262e;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2px;
}
.card-name span {
    display: block;
    color: #24262e;
    font-size: 13px;
    font-weight: 500;
}
.card-new p {
    color: #070c1f;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 45px;
}
.card-img img{
    width: 50px;
}	
.card-try{
    position: absolute;
    top: 37%;
    left: 30px;
    display: inline-block;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    color: #131313;
    font-size: 11px;
    font-weight: 500;
    background-color: #49cf75;
}
.card-p{
        display: block;
    color: #83858f;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: -4px;
}
.card-title{ 
     color: #070c1f;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 21px;
    text-decoration: none;
}
