
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sen:wght@400..800&display=swap');


:root{

--primary-color: #49cf75;
--secondary-color: #162d20;
--light-background: #f3fdf7;
--light-color: #fff;
--text-color: #202020;
--light-color2: #f7f7f7;
--font-family:"Manrope", sans-serif;
    /* --bs-offcanvas-width: 200px !important; */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background: var(--light-color);
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl 
{
    width: 270px !important;
    /* height: 700px !important; */

}

.logo{
    width: 100px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: auto;
    display: inline-block;
    mix-blend-mode: color-burn;

}
a{
    text-decoration: none;
    color: inherit;
}
.navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
        padding: 0.1rem 0 !important;
        /* background-color: var(--light-color); */
        background: url(https://i.pinimg.com/736x/33/ec/6d/33ec6d3f51805ce07b785ed3d550c858.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: cen;
        /* background: url(https://i.pinimg.com/736x/4a/b9/a8/4ab9a85d794a6b7363b234dc0aaced56.jpg); */

}
.nav-item{
    list-style: none;
    font-size: 16px;
}
.nav-item .nav-link{
    transition: all 0.2s linear;
    font-weight: 500;
}
.nav-item .nav-link:hover{
    color: #49cf75;
}
.nav-link:active{
    color: #49cf75 !important;

}
.navbar-nav{
    padding: 30px;
}
.header-content {
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
}

.header-button button{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    font-family: var(--font-family);
    border-radius: 20px;
        transition: all 0.3s linear;
        cursor: pointer;

}

.header-button button:hover{
    background-color: var(--secondary-color);
   

}
.call a{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
margin-left: 103px;
    padding-bottom: 2px;
    position: relative;
        color: #49cf75;
        font-family: var(--font-family);

}
.call h4 {
    color: #070c1f;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}
.call a{
    border-bottom: 1.5px solid #49cf75;
}
/* navbr section end  */

/* header section css start  */
